.main{
    justify-content: center !important;
    align-items: center;
    margin-top: 10%;
    margin-left: 30%;
}
.card{
    align-items: center;
    text-align: center;
    width: 400px;
    border-radius: 10px;
    border: 5px solid black;
    
}
.card input{
    width: 300px;
}
.card button{
    padding: 7px;
    margin-top: 15px;
    width: 200px;
}
.card label{
    margin-right: 200px;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 5px;
}
.card input{
    border: black 2px solid;
    border-radius: 10px black;
}
h3{
    padding: 10px;
    font-weight: bold;
    background-color: #2375;
    margin-top: 30px;
    width: 350px;
    border-radius: 10px;

}
#conf{
    padding: 5px;
}